@model ProductVM
<form method="post" enctype="multipart/form-data">
	<input asp-for="Product.Id" hidden />
	<input asp-for="Product.ImageURL" hidden />
	<div class="row">
		<div class="col-10">
			<div class="border p-3 mt-4 d-flex flex-column align-items-center">
				<div class="row pb-2">
					<h2 class="text-primary">@(Model.Product.Id != 0 ? "Update" : "Create")</h2>
					<hr />
				</div>
				<div asp-validation-summary="All"></div>
				<div class="mb-3">
					<label asp-for="Product.Title"></label>
					<input asp-for="Product.Title" class="form-control" />
					<span asp-validation-for="Product.Title" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Product.Description"></label>
					<textarea asp-for="Product.Description" class="form-control"></textarea>
				</div>
				<div class="mb-3">
					<label asp-for="Product.ISBN"></label>
					<input asp-for="Product.ISBN" class="form-control" />
					<span asp-validation-for="Product.ISBN" class="text-danger mb-3"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Product.Author"></label>
					<input asp-for="Product.Author" class="form-control" />
					<span asp-validation-for="Product.Author" class="text-danger mb-3"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Product.ListPrice"></label>
					<input asp-for="Product.ListPrice" class="form-control" min="1" />
					<span asp-validation-for="Product.ListPrice" class="text-danger mb-3"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Product.Price"></label>
					<input asp-for="Product.Price" class="form-control" min="1" />
					<span asp-validation-for="Product.Price" class="text-danger mb-3"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Product.Price50"></label>
					<input asp-for="Product.Price50" class="form-control" min="1" />
					<span asp-validation-for="Product.Price50" class="text-danger mb-3"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Product.Price100"></label>
					<input asp-for="Product.Price100" class="form-control" min="1" />
					<span asp-validation-for="Product.Price100" class="text-danger mb-3"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Product.CategoryId"></label>
					<select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select" min="1">
						<option disabled selected>--Select Category</option>
					</select>
					<span asp-validation-for="Product.CategoryId" class="text-danger mb-3"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Product.ImageURL"></label>
					<input type="file" name="file" asp-for="Product.ImageURL" class="form-control" />
				</div>

				<div class="row">

					<div class="col-6">
						@if (Model.Product.Id != 0)
						{
							<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
						}
						else
						{
							<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
						}
					</div>
					<div class="col-6">
						<a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
							Back to List
						</a>
					</div>
				</div>

			</div>
		</div>
		<div class="col-2">
			<img src="@Model.Product.ImageURL" width="100%" style="border-radius:5px; border:1px solid white" />
		</div>
	</div>
	
</form>
@section Scripts{
	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: 'anchor autolink charmap codesample emoticons lists | table visualblocks wordcount',
			toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap'
		});
	</script>
	@{
	<partial name="_ValidationScriptsPartial" />
	}
}